/* fieldset {
   background-color: #eeeeee; 
}
legend {
   background-color:grey; 
   color:whitesmoke;
   padding:6px 12px ;
}
input {
   margin:5px ;
   /* text-align: right; */
   /* width: 100px;
    text-align: right;
    margin-right: 10px; */
    /* font-family:Verdana, Arial, Helvetica, sans-serif; */
    /* font-size:20px;  */
/* } */ 